{% include 'royaltysystem/partials/header.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'royaltysystem/css/style.css' %}">
<title>{{ artist.name }}</title>
</head>
<body>
    <h1>{{ artist.name }}</h1>
    <ul>
        <!--<h5>{{ artist.custom }}</h5>-->
        {% for utgivelse in artist.utgivelser %}
        <a href="{% url 'utgivelse' artist.id utgivelse.katalognr %}?periode=P1+2017"><li>{{ utgivelse.navn }}</li></a>
        <h3>{{ utgivelse.custom }}</h3>
        {% endfor %}
        <div class="container">
            <table class="table table-sm table-bordered table-striped text-center">
                <thead>
                        <tr class="bg-dark text-light text-center">
                            <th colspan="9" rowspan="1" style="height: 80px !important;">Bad Vibes - oversikt over avregninger</th>
                        </tr>
                        
                
                    {% for utgivelse in artist.utgivelser %}
                    <tr class="bg-dark text-light text-center">
                        <th colspan="9" class="text-center"> {{ utgivelse }}</th>
                    </tr>
                    <tr class="table-secondary ">
                        <th class="headerDivider" scope="col">Periode</th>
                        <th class="headerDivider" scope="col">Bruttoinntekt</th>
                        <th class="headerDivider" scope="col">B.inntekt akkum.</th>
                        <th class="headerDivider" scope="col">Kostnader</th>
                        <th class="headerDivider" scope="col">Kost. akkumulert</th>
                        <th class="headerDivider" scope="col">Roy.prosent</th>
                        <th class="headerDivider"scope="col">Nettoinntekt</th>
                        <th class="headerDivider" scope="col">Akkumulert</th>
                        <th class="headerDivider" scope="col">Label cut</th>
                    </tr>
                </thead>
                <tbody>
                {% for avregning in utgivelse.avregninger %}
                
                    <tr>
                        {% if avregning.utbetalt %}
                        <td class="utbetalt">{{ avregning.periode }}</td>
                        <td class="utbetalt">{{ avregning.bruttoinntekt }} kr</td>
                        <td class="utbetalt">{{ avregning.bruttoinntekt_akkumulert }} kr</td>
                        <td class="utbetalt">{{ avregning.kostnader }} kr</td>
                        <td class="utbetalt">{{ avregning.kostnader_akkumulert }} kr</td>
                        <td class="utbetalt">{{ utgivelse.royalty_prosent }}%</td>
                        <td class="utbetalt">{{ avregning.nettoinntekt }} kr</td>
                        <td class="utbetalt">{{ avregning.nettoinntekt_akkumulert }} kr</td>
                        <td class="utbetalt">{{ avregning.labelcut }} kr</td>
                        {% else %}
                        <td>{{ avregning.periode }}</td>
                        <td>{{ avregning.bruttoinntekt }} kr</td>
                        <td>{{ avregning.bruttoinntekt_akkumulert }} kr</td>
                        <td>{{ avregning.kostnader }} kr</td>
                        <td>{{ avregning.kostnader_akkumulert }} kr</td>
                        <td>{{ utgivelse.royalty_prosent }}%</td>
                        <td>{{ avregning.nettoinntekt }} kr</td>
                        <td>{{ avregning.nettoinntekt_akkumulert }} kr</td>
                        <td>{{ avregning.labelcut }} kr</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    <tr class="font-weight-bold">
                        <td class="totalt">Totalt</td>
                        <td class="totalt">{{ utgivelse.totalt.bruttoinntekt }} kr</td>
                        <td class="totalt">{{ utgivelse.totalt.bruttoinntekt_akkumulert }} kr</td>
                        <td class="totalt">{{ utgivelse.totalt.kostnader }} kr</td>
                        <td class="totalt">{{ utgivelse.totalt.kostnader_akkumulert }} kr</td>
                        <td class="totalt">{{ utgivelse.royalty_prosent}}%</td>
                        <td class="totalt">{{ utgivelse.totalt.nettoinntekt }} kr</td>
                        <td class="totalt">{{ utgivelse.totalt.nettoinntekt_akkumulert }} kr</td>
                        <td class="totalt">{{ utgivelse.totalt.labelcut }} kr</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>   
        </div>
    
    </ul>
{% include 'royaltysystem/partials/bottom.html' %}
