{% include 'royaltysystem/partials/header.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'royaltysystem/css/style.css' %}">
<title>{{ artist.name }}</title>
</head>
<body>
    {% include 'royaltysystem/partials/navbar.html' %}
    <div class="container">
    <h1 class="text-center">{{ artist.name }}</h1>
        {% if artist.utgivelser %}
        <h4>Utgivelser:</h4>
        <div class="row">
            {% for utgivelse in artist.utgivelser %}
            <div class="dropdown show col-3 mb-5">
                    <button class="btn btn-sm btn-secondary dropdown-toggle" href="{% url 'utgivelse' artist.id utgivelse.katalognr %}?periode=P1+2017" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ utgivelse.katalognr }} {{ utgivelse.navn }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% for periode in utgivelse.perioder %}  
                    <a class="dropdown-item" href="{% url 'utgivelse' artist.id utgivelse.katalognr %}?periode={{ periode }}">{{ periode }}</a>
                    {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
            <table class="table table-sm table-bordered table-striped text-center">
                <thead>
                        <tr class="bg-dark text-light text-center">
                            <th colspan="9" rowspan="1" style="height: 80px !important;">Bad Vibes - oversikt over avregninger</th>
                        </tr>
                        
                
                    {% for utgivelse in artist.utgivelser %}
                    <tr class="bg-dark text-light text-center">
                        <th colspan="9" class="text-center"> {{ utgivelse }}</th>
                    </tr>
                    <tr class="table-secondary ">
                        <th class="headerDivider" scope="col">Periode</th>
                        <th class="headerDivider" scope="col">Bruttoinntekt</th>
                        <th class="headerDivider" scope="col">B.inntekt akkum.</th>
                        <th class="headerDivider" scope="col">Kostnader</th>
                        <th class="headerDivider" scope="col">Kost. akkumulert</th>
                        <th class="headerDivider" scope="col">Roy.prosent</th>
                        <th class="headerDivider"scope="col">Nettoinntekt</th>
                        <th class="headerDivider" scope="col">Akkumulert</th>
                        <th class="headerDivider" scope="col">Label cut</th>
                    </tr>
                </thead>
                <tbody>
                {% for avregning in utgivelse.avregninger %}
                
                    <tr>
                        {% if avregning.utbetalt %}
                        <td class="utbetalt">{{ avregning.periode }}</td>
                        <td class="utbetalt">{{ avregning.bruttoinntekt }} kr</td>
                        <td class="utbetalt">{{ avregning.bruttoinntekt_akkumulert }} kr</td>
                        <td class="utbetalt">{{ avregning.kostnader }} kr</td>
                        <td class="utbetalt">{{ avregning.kostnader_akkumulert }} kr</td>
                        <td class="utbetalt">{{ utgivelse.royalty_prosent }}%</td>
                        <td class="utbetalt">{{ avregning.nettoinntekt }} kr</td>
                        <td class="utbetalt">{{ avregning.nettoinntekt_akkumulert }} kr</td>
                        <td class="utbetalt">{{ avregning.labelcut }} kr</td>
                        {% else %}
                        <td>{{ avregning.periode }}</td>
                        <td>{{ avregning.bruttoinntekt }} kr</td>
                        <td>{{ avregning.bruttoinntekt_akkumulert }} kr</td>
                        <td>{{ avregning.kostnader }} kr</td>
                        <td>{{ avregning.kostnader_akkumulert }} kr</td>
                        <td>{{ utgivelse.royalty_prosent }}%</td>
                        <td>{{ avregning.nettoinntekt }} kr</td>
                        <td>{{ avregning.nettoinntekt_akkumulert }} kr</td>
                        <td>{{ avregning.labelcut }} kr</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    <tr class="font-weight-bold">
                        <td class="totalt">Totalt</td>
                        <td class="totalt">{{ utgivelse.totalt.bruttoinntekt }} kr</td>
                        <td class="totalt">{{ utgivelse.totalt.bruttoinntekt_akkumulert }} kr</td>
                        <td class="totalt">{{ utgivelse.totalt.kostnader }} kr</td>
                        <td class="totalt">{{ utgivelse.totalt.kostnader_akkumulert }} kr</td>
                        <td class="totalt">{{ utgivelse.royalty_prosent}}%</td>
                        <td class="totalt">{{ utgivelse.totalt.nettoinntekt }} kr</td>
                        <td class="totalt">{{ utgivelse.totalt.nettoinntekt_akkumulert }} kr</td>
                        <td class="totalt">{{ utgivelse.totalt.labelcut }} kr</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            {% else %}
            <h3 class="text-center">Ingen utgivelser registrert for denne artisten</h3>
            <a class="text-center" data-toggle="collapse" href="#addUtgivelseCollapse" role="button" aria-expanded="false" aria-controls="addUtgivelseCollapse"><h5>Legg til</h5></a>  
            <div class="collapse" id="addUtgivelseCollapse">
                <div class="card">
                    <div class="container">
                        <form>
                                <div class="form-group">
                                  <label for="artist">Artist</label>
                                  <input type="text" class="form-control" id="artist" aria-describedby="artistHelp" placeholder="{{ artist.name }}" readonly>
                                </div>
                                <div class="form-group">
                                  <label for="katalognr">Katalognummer</label>
                                  <input type="text" class="form-control" id="katalognr" placeholder="BV001 etc...">
                                  <label for="utgivelseNavn">Navn på utgivelse</label>
                                  <input type="text" class="form-control" id="utgivelseNavn" placeholder="Kanskje kommer kongen...">
                                </div>
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="digitalCheck">
                                  <label class="form-check-label" for="digitalCheck">Digial</label>
                                </div>
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="fysiskCheck">
                                  <label class="form-check-label" data-toggle="collapse" data-target="#fysiskFormCollapse" aria-expanded="false" aria-controls="fysiskFormCollapse" for="fysiskCheck">Fysisk</label>
                                </div>
                                <div id="fysiskFormCollapse" class="collapse" aria-expanded="false">
                                    <div class="form-group">
                                        <label for="format">Format</label>
                                        <input type="text" id="format" class="form-control">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                              </form>

                    </div>
                </div>
            </div>
            {% endif %} 
        </div>
{% include 'royaltysystem/partials/bottom.html' %}
