{% include 'royaltysystem/partials/header.html' %}
<title> {{ utgivelse }}</title>

</head>
<body>
    {% include 'royaltysystem/partials/navbar.html' %}
        <div class="container">
            {% if utgivelse.ingen_perioder is False %}
                {% for periode in utgivelse.perioder %}
                <a class="" href="{% url 'utgivelse' artist_id katalognr %}?periode={{ periode }}">{{ periode }}</a>
                {% endfor %}
            {% else %}
                <a href="{% url 'avregning_detaljert' artist_id katalognr %}">Legg til detaljert avregningsdata</a>
                
                
            {% endif %}
                <div class="row">
                    <a class="btn btn-secondary" href="{% url 'avregning_detaljert' artist_id katalognr %}">Ny periode</a>
                </div>
            </div>

{% include 'royaltysystem/partials/bottom.html' %}
{% load static %}
<script type="text/javascript" src="{% static 'royaltysystem/js/utgivelse.js' %}"></script>