.utbetalt {
    border-bottom-color: red !important;
}

.totalt {
    border-color: black !important;
}

#teststring {
    color: aqua;
}

.headerDivider {
    border-bottom-color: black !important;
    border-bottom-width: 5px !important;
}